<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.ergasiaandroid">
    <!-- Δικαιώματα -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.ErgasiaAndroid"
        tools:targetApi="31">
        <activity
            android:name=".AdminMapActivity"
            android:exported="false" />
        <!-- 🔑 Google Maps API key -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAEjbmMipnBhvdirqMotjJ4S189ngGqVHA" /> <!-- ✅ MainActivity ως αρχική οθόνη -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="Αρχική Οθόνη"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- ✅ Δήλωση MapsActivity -->
        <activity
            android:name=".MapsActivity"
            android:exported="false"
            android:label="Χάρτης"
            android:windowSoftInputMode="stateHidden" /> <!-- ✅ Δήλωση AdminPanelActivity -->
        <activity
            android:name=".AdminPanelActivity"
            android:exported="false"
            android:label="Πίνακας Διαχειριστή"
            android:windowSoftInputMode="stateHidden" />
    </application>

</manifest>